unstructured
tiktoken
pinecone
pypdf
openai
langchain
pandas
numpy
python-dotenv
ipykernel
langchain-community
langchain-openai
pinecone-client
pinecone-text
langchain_huggingface
sentence-transformers
hf_xet
langchain_pinecone
accelerate
bitsandbytes